{% extends "base.html" %}

{% block title %}Card{% endblock %}

{% block content %}
    <h1>Card View</h1>
    <p>{{card.question}}</p>
    <p>{{card.answer}}</p>
    <div>
        <button>
            {% if index < max_index %}
                <a href="{{ url_for('card_view', index=index + 1) }}">Next Card</a>
            {% else %}
                <a href="{{ url_for('card_view', index=0) }}">Start Over</a>
            {% endif %}
        </button>
    </div>
    <div>
        <a href="{{ url_for('welcome') }}">Home</a>
    </div>
    <div>
        <a href="{{ url_for('remove_card', index=index) }}">Delete Card</a>
    </div>
{% endblock %}